<a href="https://colab.research.google.com/github/GB1111/Coursera_Capstone/blob/master/PuneProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis

In [33]:
path = 'https://raw.githubusercontent.com/GB1111/Coursera_Capstone/master/pune_data.csv'
pune_data = pd.read_csv(path)
pune_data.head()

   Postal Code        Place Name County  ... Latitude  Longitude  Accuracy
0       410301          Khandala   Pune  ...  18.7589    73.3694         4
1       410302  R P T S Khandala   Pune  ...  18.7589    73.3694         1
2       410401          Lonavala   Pune  ...  18.7528    73.4057         4
3       410401        Kusgaon BK   Pune  ...  18.7528    73.4057         3
4       410401    Lonavala Bazar   Pune  ...  18.7528    73.4057         3

[5 rows x 7 columns]

In [34]:
pune_data = pune_data[['Postal Code', 'Community', 'Place Name', 'Latitude', 'Longitude']]
pune_data.head()

   Postal Code Community        Place Name  Latitude  Longitude
0       410301     Maval          Khandala   18.7589    73.3694
1       410302     Maval  R P T S Khandala   18.7589    73.3694
2       410401     Maval          Lonavala   18.7528    73.4057
3       410401     Maval        Kusgaon BK   18.7528    73.4057
4       410401     Maval    Lonavala Bazar   18.7528    73.4057

In [35]:
pune_data.head()

   Postal Code Community        Place Name  Latitude  Longitude
0       410301     Maval          Khandala   18.7589    73.3694
1       410302     Maval  R P T S Khandala   18.7589    73.3694
2       410401     Maval          Lonavala   18.7528    73.4057
3       410401     Maval        Kusgaon BK   18.7528    73.4057
4       410401     Maval    Lonavala Bazar   18.7528    73.4057

In [36]:
print('The dataframe has {} communities and {} places.'.format(
        len(pune_data['Community'].unique()),
        pune_data.shape[0]
    )
)

The dataframe has 20 communities and 791 places.

In [37]:
pune_data.groupby('Community').count()

           Postal Code  Place Name  Latitude  Longitude
Community
Ambegaon            43          43        43         43
Baramati            56          56        56         56
Bhor                69          69        69         69
Daund               52          52        52         52
Haveli              76          76        76         76
Indapur             50          50        50         50
Junnar              68          68        68         68
Khed                68          68        68         68
Maval               38          38        38         38
Mawal                5           5         5          5
Mulashi              1           1         1          1
Mulshi              29          29        29         29
Pune                 2           2         2          2
Pune City          109         109       109        109
Purandar            53          53        53         53
Purandhar            2           2         2          2
Shirur              52          52        52         52
Shiurur              1           1         1          1
Velhe               15          15        15         15

In [53]:
CLIENT_ID = 'NJDMRKKIXGRVKUPRLI4AJDJHDRI5J303R5JNN2FW32HWCSDO' # your Foursquare ID
CLIENT_SECRET = 'QWQYLF3D1BM2T2UOYOVT02KUOS3NANJPU4NIQXU1STJ3ETHS' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: NJDMRKKIXGRVKUPRLI4AJDJHDRI5J303R5JNN2FW32HWCSDO
CLIENT_SECRET:QWQYLF3D1BM2T2UOYOVT02KUOS3NANJPU4NIQXU1STJ3ETHS

In [54]:
pune_data.loc[0, 'Place Name']

'Khandala'

In [55]:
place_latitude = pune_data.loc[0, 'Latitude'] # neighborhood latitude value
place_longitude = pune_data.loc[0, 'Longitude'] # neighborhood longitude value

place_name = pune_data.loc[0, 'Place Name'] # neighborhood name

print('Latitude and longitude values of {} are {}, {}.'.format(place_name, 
                                                               place_latitude, 
                                                               place_longitude))

Latitude and longitude values of Khandala are 18.7589, 73.3694.

In [56]:
LIMIT = 100
radius = 500 # define radius

 # create URL
url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    place_latitude, 
    place_longitude, 
    radius, 
    LIMIT)
url # display URL

'https://api.foursquare.com/v2/venues/explore?&client_id=NJDMRKKIXGRVKUPRLI4AJDJHDRI5J303R5JNN2FW32HWCSDO&client_secret=QWQYLF3D1BM2T2UOYOVT02KUOS3NANJPU4NIQXU1STJ3ETHS&v=20180605&ll=18.7589,73.3694&radius=500&limit=100'

In [0]:
import requests

In [0]:

results = requests.get(url).json()

In [0]:

# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [61]:
import json # library to handle JSON files

#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

#import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Libraries imported.

In [62]:
venues = results['response']['groups'][0]['items']
    
nearby_venues = json_normalize(venues) # flatten JSON

# filter columns
filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
nearby_venues =nearby_venues.loc[:, filtered_columns]

# filter the category for each row
nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)

# clean columns
nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]

nearby_venues.head()

KeyError: ignored

In [47]:
print('{} venues were returned by Foursquare.'.format(nearby_venues.shape[0]))

4 venues were returned by Foursquare.

In [0]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])
    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighbourhood', 
                  'Neighbourhood Latitude', 
                  'Neighbourhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [52]:
pune_venues = getNearbyVenues(names=pune_data['Place Name'],
                                   latitudes=pune_data['Latitude'],
                                   longitudes=pune_data['Longitude']
                                 )
print(pune_venues.shape)
pune_venues.head()

Khandala
R P T S Khandala
Lonavala
Kusgaon BK
Lonavala Bazar
Ambavane
Ins Shivaji Lonavale
Kurwande
Kaivalyadham
Karanjgaon
Kamshet
Karunj
Malawali
Karla
Takave KH
Vehergaon
Nane
Pawananagar
Shivali
Bhose
Chakan
Mahalunge Ingale
Vasuli
Waki BK
Ambethan
Vadgaon Ghenanad
Khalumbre
Shive
Rase
Pimpalgaon Tarfe Chakan
Kuruli
Koyali
Nighoje
Kalus
Gadad
Bahul
Rajur
Parunde
Junnar
Tambe
Devale
Inglun
Khanapur
Vadaj
Anjanavale
Kusur
Khangaon
Amboli
Aptale
Yenere
Khamgaon
Khadkumbe(Exptl)
Ballalwadi
Manikdoh
Chavand
Nimgiri
Godre
Nirgude
Utchil
Manchar
Landewadi
Chandoli BK
Vadgaon Kashimbeg
Pimpalgaon Mahalunge
Narodi
Ozar
Khodad
Yedgaon
Pimparkhed
Pargaon Tarfe Ala
Ranjani
Valati
Narayangaon
Nimgaon Sava
Khamundi
Pimpri Pendhar
Jambhut
Hivare BK
Amboli
Vaphgaon
Pimpri BK
Rajgurunagar
Palu
Donda
Nimgaon Khed
Chinchoshi
Pait
Yeniye BK
Kurkundi
Varude
Kude BK
Sandbhorwadi(Exptl)
Kiwale
Kanhersar
Retwadi
Shiroli
Gulani
Ghotawadi
Dawadi
Talegaon Dabhade
Dhamane
Urse
Chandkhed
Adhale BK
Bebedhol
Ordanance Dep Talegaon Dabhade
Kasarsai
Shiavane
Ambi
Umbre Navlakh
Vishnupuri
Talegaon G H
Ambale
Induri
Varale
Dhamani
Bhimashankar
Phulawade
Pokhari
Asane
Taleghar
Adivare
Rajpur
Jambhori
Tirpad
Kondhwal
Dimbhe Colony
Kushire BK
Gohe BK
Bhorghar
Vadgaon Peer
Loni Dhamani
Savindane
Shiroli B K
Kuran
Peth (Pune)
Karegaon
Thugaon
Kurwandi
Pargaon Tarfe Khed
Kadadhe
Chas (Pune)
Bibi
Tiwai Hills
Mahalunge Padwal
Sakore
Chas
Kalamb (Pune)
Gangapur KH
Shinoli
Pune H.O
C D A (O)
Dr.B.A. Chowk
Pune New Bazar
Sachapir Street
N.W. College
Pune Cantt East
Ghorpuri Bazar
Pune City H.O
Shukrawar Peth (Pune)
Bajirao Road
Nana Peth
Raviwar Peth
Khadki
Khadki Bazar
East Khadki
Ammunition Factory Khadki
H.E. Factory
Deccan Gymkhana
Film Institute
A.R. Shala
S.S.C.Exam Board
Shivajinagar (Pune)
Congress House Road
Shivajinagar H.O
Yerwada
Yerwada T.S.
Aundh T.S.
Ganeshkhind
Baner Road
N.C.L. Pune
Parvati Gaon
Parvati
Rasta Peth
Kasba Peth
Mangalwar Peth (Pune)
Dapodi
Dapodi Bazar
Hadpsar I.E.
Viman nagar
9 DRD
Dukirkline
Vadgaon Sheri
Vishrantwadi
Dhanori
Dighi Camp
Govt. Polytechnic
Shivaji Housing Society
Model Colony
Pimpri Colony
Pimpri Waghire
Kalewadi
Pimpri P F
Nehrunagar (Pune)
Masulkar Colony
M.Phulenagar
Chinchwad East
Botanical Garden (Pune)
Range Hills
Armament
Bavdhan
Sus
Srpf
N.D.A. Khadakwasla
Kudje
Mandvi BK
Shivane
Uttamnagar
Khadakwasla R.S.
Khanapur Haveli
Donje
I.A.T
Vardade
Ranjane
Osade
Indrayaninagar
Bhosari I.E.
Sangavi
Aundh Camp
Hadapsar
Sasanenagar
Gondhale Nagar
Narayan Peth
Shaniwar Peth (Pune)
Lokmanyanagar
Sadashiv Peth
Rashtra Bhasha Bhavan
S.P. College
C M E
Airport (Pune)
Vidyanagar (Pune)
Iaf Station
Jambhe
Thergaon
Punawale
Chinchwadgaon
Thathawade
Kasarwadi
Akurdi
Mundhva AV
Mundhva
Market Yard (Pune)
T.V. Nagar
Bibvewadi
Salisbury Park
Kothrud
Ex. Serviceman Colony
Bhusari Colony
Bhosarigoan
Wanowarie
Sinhgad Technical Education Society
Vadgaon Budruk
Bhavani Peth
Guruwar Peth
Swargate
Ghorpade Peth
Swargate Chowk
Dhankawadi
P.C.N.T.
Yamunanagar
Baner
N.I.A.
Ambegaon BK
Katraj
Lohogaon
Vadgaon Shinde
Kondhwa Lh
N I B M
Khondhwa KH
Kondhwa BK
Anandnagar (Pune)
Navsahyadri
Karvenagar
Wakad
Infotech  Park (Hinjawadi)
Maan SO
Marunji
Warje
Mohamadwadi
Pimple Gurav
Rupeenagar
Chikhali
Talawade
Aundh (Pune)
Nanded (Pune)
Salumbre
Cod Dehu Road
Kiwale
Ordnance Factory Dehu Road
Dehu Road Cantt
Ravet
Nira R S
Gulunche
Khandobachi Wadi
Nimbut
Vadgaon Nimbalkar
Late
Korhale KH
Korhale BK
Naygaon
Gurholi
Rajewadi
Rajuri
Pisarve
Waghapur
Malshiras
Pargaon Memane
Tekawade
Dhanore
Alandi Devachi
Solu
Moshi
Markal
Chimbli
Charoli BK
Vadgaon (Pune)
Sate
Bhoyare
Kanhe
Takawe BK
Khandi
Vadeshwar
Inglun
Kashedi
Mangaon
Shirkoli
Panshet
Kambegi
Kadve
Kuran BK
Tav
Mose KH
Rule
Kolwan
Belawade
Paud
Khechare
Male
Kashing
Nandgaon
Bhadas
Shere
Kondhawale
Pomgaon
Kule
Dehu
Sadumbre
Theur
Naygaon
Kolwadi
Dasve Lavasa
Uravade
Bhugaon
Rihe
Pirangut
Khamboli
Kolawade
Bhukum
Andgaon
Ambarvet
Ghotavade
Sangrun
Lawale
Muthe
Loni Kalbhor
Alandi Chorachi
Kadam Wak Wasti
Kunjirwadi
Urulikanchan
Shindavane
Sahajpurwadi
Shriprayagdham
Bori Aindi
Kamdhenunagar
Koregaon Mul
Pargaon
Khopodi
Kedgaon (Pune)
Bet Narayan Maharaj
Dapodi
Bori Paradhi
Nangaon
Galandwadi
Khor
Khutbhav
Padvi
Karhati
Babhurdi
Supa (Pune)
Bhondave Wadi
Shindewadi
Nhavi
Shivare
Velu
Kalyan
Khed Shivapur Baug
Alande
Taparewadi
Arvi(Haveli)
Varye BK
Bhongavali
Khed Shivapur
Dhangavadi
Gogalwadi(E)
Kapurhol
Kenjal
Ketkavale
Kikvi
Kondhanpur
Anantnagar Nigade
Sarole
Kusgaon
Bhor
Male
Natambi
Ambade
Shirgaon
Pangari
Kanakwadi
Venavadi
Apti
Sangamner
Khanapur
Varodi KH
Chikhalgaon
Malewadi
Vadgaon Dalache
Kari
Utroli
Titeghar
Shind
Sangavi
Rayari
Pisavare
Pasure
Nazare
Nere
Mahude BK
Karnawad
Karandi BK
Jogwadi
Hirdoshi
Bazarwadi
Bari BK
Bhutonde
Harnas
Ambeghar
Ambavade
Velvand
Vagholi
Rahu
Walki
Telewadi
Vadebholhai
Ashtapur

KeyError: ignored